
.loginsection {
    border: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../image/Loginbackimg.jpg');
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: center;
    /* filter: blur(1px); */
}

.subsection {
    width: 40%;
    height: 40%;
    background-color: blanchedalmond;
    margin: auto;
    text-align: center;
    opacity: 0.8;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginform {
    font-size: 1.3rem;
    font-weight: 650;
}